<!DOCTYPE html>
<html>
<head>
  <title>Межтерриториальные расчеты</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
    <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>

<p class="text_center">Межтерриториальные расчеты</p>

<%=nav_link("Главная страница", "/") %>
<%=nav_link("Документы", "/incoming_docs/index") %>
<%=nav_link("Настройки", "/configuration/index") %>

<% if user_signed_in? && current_user.admin %>
  <%= link_to 'Администрирование', admin_dashboard_path %>
<% end %>

<div class="float_right">
<% if user_signed_in? %>
    <span>Здравствуйте, <%= current_user.email %></span>
    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
<% end %>
</div>

<div class="text_center">
<%= yield %>
</div>

</body>
</html>
